<?xml version="1.0" encoding="UTF-8"?>
<!-- debug:是否输出logback内容信息，true为是，默认为false -->
<!-- scan:是否自动重新加载配置 true为是，默认为false -->
<!-- scanPeriod:扫描周期 可自带单位 milliseconds、seconds、minutes、hours
 				默认为milliseconds. scan为true时生效
 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<!-- 输出到近控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 输出格式 -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- 输出到文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/demo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/demo-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
            	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            	<maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>