<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<context:annotation-config />
    <context:component-scan base-package="com.zeze.demo" />

	<bean id="nettyServer" class="com.zeze.demo.mqtt.MqttServer">
		 <constructor-arg name="port" value="1883"/>
	</bean>
	
	<bean id="springServerContextsUtil" class="com.zeze.demo.util.SpringServerContextsUtil" ></bean>
	
	<bean id="cacheServiceImpl" class="com.zeze.demo.service.impl.CacheServiceImpl" scope="singleton"></bean>
	<bean id="mqttPublishServiceImpl" class="com.zeze.demo.service.impl.MqttPublishServiceImpl" scope="singleton"></bean>
	
	<bean id="SendMessageServiceImpl" class="com.zeze.demo.service.impl.SendMessageServiceImpl" scope="singleton"></bean>
 	<!-- <import resource="classpath:mina-server.xml" /> -->
	
</beans>